<h2>Provider Details</h2>
<p>
  <b>Category:</b> <%= @provider.category %><br />
  <b>Name:</b> <%= @provider.provider_name %><br />
  <b>Description:</b> <%= @provider.description.html_safe %><br />
  <b>Address:</b> <a href="https://www.google.com/maps?q=<%= @provider.provider_name %>,<%= @provider.street %>,<%= @provider.city %>,<%= @provider.state %>,<%= @provider.zip %>", target="_blank"><%= @provider.street %>, <%= @provider.city %>, <%= @provider.state %> <%= @provider.zip %></a><br />
  <b>Website:</b> <%= link_to @provider.website, "#{@provider.website}", target: "_blank"%><br />
  <b>Phone:</b> <%= @provider.phone %><br />
  <b>Fees:</b> <% if @provider.fees %> <%= @provider.fees.html_safe %><% end %><br />
  <b>Schedule:</b> <%= @provider.schedule %><br />
  <b>Geolocation:</b> <%= @provider.lat %> | <%= @provider.lon %>
</p>
<br />
<%= form_with(model: @favorite, url: user_favorites_path(current_user), method: :post) do |form| %>
    <%= form.hidden_field :category, value: @provider.category %>
    <%= form.hidden_field :name, value: @provider.provider_name %>
    <%= form.hidden_field :description, value: @provider.description.html_safe %>
    <%= form.hidden_field :address, value: "#{@provider.provider_name}, #{@provider.street}, #{@provider.city}, #{@provider.state}, #{@provider.zip}" %>
    <%= form.hidden_field :website, value: "#{@provider.website}" %>
    <%= form.hidden_field :phone, value: @provider.phone %>
    <%= form.hidden_field :fees, value: @provider.fees %>
    <%= form.hidden_field :schedule, value: @provider.schedule %>
  <div>
    <%= form.submit "Add to Favorites" %>
  </div>
<% end %>
