<h2>User Dashboard</h2>
<%= link_to "Export to PDF", generate_pdf_user_path(@user), class: "btn btn-primary float-end" %>

<p>Your Username: <%= current_user.username %></p>
<p>[<%= link_to "Change password", edit_user_path(current_user) %>]</p>

<%= form_for current_user, url: user_path(current_user), method: :delete, html: { class: 'delete-form' } do |f| %>
  <%= f.button "Delete my account", class: 'delete-button' %>
<% end %>
<br/>

<% if current_user  %>
  <% if @favorites.empty? %>
    <p><%= link_to 'Add Favorite Providers', root_path %></p>
  <% else %>
    <h3>My Favorite Providers</h3>
  <% end %>

  <% @favorites.each do |favorite| %>
    <div class="card mb-4">
      <p><strong>Category: </strong><%= favorite.category %></p>
      <p><strong>Name: </strong><%= favorite.name %></p>
      <p><strong>Description: </strong><%= strip_tags(favorite.description) %></p>
      <p><strong>Address: </strong><%= favorite.address %></p>
      <p><strong>Website: </strong><%= link_to favorite.website %></p>
      <p><strong>Phone: </strong><%= favorite.phone %></p>
      <p><strong>Fees: </strong><%= strip_tags(favorite.fees) %></p>
      <p><strong>Schedule: </strong><%= favorite.schedule %></p>
      <%= button_to 'Remove', user_favorite_path(current_user, favorite), method: :delete, class: 'delete-form' %>
    </div>
  <% end %>

  <% if approved? %>
    <% if @providers.empty? %>
      <p><%= link_to 'Add My Service', new_register_provider_path %></p>      
    <% else %>      
      <h3>My Services</h3>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Name</th>
            <th>Category</th>
            <th>Fees</th>
            <th>Location</th>
            <th>Phone</th>
            <th>Schedule</th>
          </tr>
        </thead>
        <tbody>
          <% @providers.each do |provider| %>
            <tr>
              <td><%= provider.name %></td>
              <td><%= provider.description %></td>
              <td><%= provider.fees %></td>
              <td><%= "#{provider.street} #{provider.city.upcase}, #{provider.state.upcase} #{provider.zipcode}" %></td>
              <td><%= provider.phone %></td>
              <td><%= provider.schedule %></td>
              <td>
                <%= link_to 'Edit', edit_register_provider_path(provider), class: 'edit-button' %>
                <%= form_for provider, url: delete_provider_path(provider), method: :delete, html: { class: 'delete-form' } do |f| %>
                  <%= f.button "Delete", class: 'delete-button' %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>     
    <% end %>     
  <% end %>
<% end %>
